* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: rgba(189, 204, 153, 0.918);
}

p {
    margin-left: 6em;
}

#topNav {
    display: flex;
}

.nav-link {
    display: inline;
}