* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #FFF;
}

.link:hover,
.link:active {
    font-weight: bold;
}


/* topbar styles */

.navbar {
    font-size: 14px;
    width: 100%;
    display: flex;
    padding: 5px;
    background-color: #2A7D54;
}

.navbar__links {
    margin-left: 20px;
}

.navbar__link {
    display: inline;
    padding: 0 10px 0 10px;
}

/* main body styles */

.main__container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main__header {
    text-align: right;
}

.main__h1 {
    color: #2A7D54;
    font-size: 2.5em;
    padding-top: 5px;
}

.main__subtitle {
    font-size: .75em;
}

.main__container--body {
    width: 75%;
    margin: 25px auto 25px auto;
}

.main__h2 {
    color:#2A7D54;
    padding: 15px 15px 15px 25px;
}

.main__content-container {
    padding: 5px;
    border-radius: 5px;
    color: #3B2C35;
}

article {
    margin: 10px;
}

.main__text {
    margin: 10px 5px 10px 5px;
}

/* footer styles */

footer {
    width: 100%;
    background-color: #2A7D54;
}

.footer__container {
    display: flex;
    text-align: center;
    margin: 15px 15px 0 15px;
    padding: 15px;
    max-width: 100vw;
    color: white;
}

.footer__text {
    font-size: 0.8em;
    margin: auto;
}

.footer__links {
    margin: auto;
}