* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;

    color: rgba(99, 107, 80, 0.781);
}

.link:hover,
.link:active {
    font-weight: bold;
}


/* topbar styles */

.navbar {
    font-size: 15px;
    position: fixed;
    top: 0;
    height: 25px;
    width: 100%;
    display: flex;
    padding: 5px 0 5px 0;
}

.navbar__links {
    margin-left: 20px;
}

.navbar__text {
    color: rgba(189, 204, 153, 0.918);
    font-weight: bold;
    margin-left: 20px;
}

.navbar__link {
    display: inline;
    padding:  0 10px 0 10px;
    top: 50%;
}

/* main body styles */

.main__container {
    padding-top: 35vh;
    flex-direction: column;
    height: 100vmin;
}

.main__title {
    text-align: center;
    color: rgba(189, 204, 153, 0.918);
    display: block;
    font-size: 2.5em;
    min-width: 50%;
}

.main__container--text {
    padding-top: 20px;
}

.main__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* footer styles */

.footer__container {
    display: flex;
    text-align: center;
    margin-bottom: 0;
}

.footer__text {
    font-size: 0.8em;
    margin: auto;
}

.footer__links {
    margin: auto;
}